<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Setting up a Development Lap on my Raspberry Pi 4 </h3>
    <ul>
      <li> Linux </li>
    </ul>
    <p> The Raspberry Pi 4 is usually described as a credit card sized computer. Well, that's basically what it is. It was setup as a webserver in my home lab with Cockpit for management, Bludit as a test blog and Tailscale for remote access</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> This Portfolio </h3>
    <ul>
      <li> Github </li>
      <li> Web Development</li>
    </ul>
    <p> Forked this partcile theme of bludit to setup a minimalist beginner level portfolio. The goal is to get hands-on into editing and maintaining simple Webpages with the github pages hosting and have fun</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
